/* Start Global Rules */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    background:#010103;
    /*background: rgb(0 0 0 / 95%)*/
}
:root {
    --main-color:#333;
    --second-color:#017123;
    --third-color: #008148;
    --fourth-color: #1e3932;
    --best-color:#3cc47c;
    --section-padding:50px;
    --border:.1rem solid rgba(255,255,255,.3);
}
section {
    padding:20px 7%;
}
.btn {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #017143;
        color: #fff;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
}
.heading {
    text-align: center;
    color:var(--third-color);
    text-transform: uppercase;
    padding-bottom:10px;
    font-size: 2.5rem;
    font-weight: 600;
    margin:15px;
}
/* End Global Rules  */
.header {
    color:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.6rem 7%;
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color:   rgb(0 0 0 / 70%);
}
.header .logo img {
    max-width:80px;
}
.header .navbar a {
    margin-left:40px;
    color:whitesmoke;
    font-weight:500;
    transition:0.3s;
}
.header .navbar a:hover {
    color:var(--third-color);
}
.home {
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url("../img/cover.png") no-repeat;
    background-size:cover;
    background-position:center;
}
.content {
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content .box-text {
    position:relative;
    max-width:600px;
}
.content .box-text h2 {
    color:whitesmoke;
    font-size:4em;
    line-height:1.4em;
    font-weight:500;
}
.content .box-text h2 span {
    color:#017123;
    font-size:1.2em;
    font-weight:900;
}
.content .box-text p {
    color:whitesmoke;
    line-height: 1.5;
}
.content .box-text a {
    display:inline-block;
    margin-top:20px;
    padding:8px 20px;
    background:#017143;
    color:#fff;
    border-radius: 40px;
    font-weight:500;
    letter-spacing: 1px;
    text-decoration: none;
}

.social {
    position:absolute;
    top:50%;
    right:-50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li a {
    display: inline-block;
    margin:5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.content .imgbox {
    width:600px;
    display:flex;
    justify-content: flex-end;
    padding-right:50px;
    margin-top:50px;
}
.home .overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:103%;
    background-color: rgb(0 0 0 / 55%);
}
/* End Home */
/*.content .imgbox img {
    max-width:200px;
}
.content .imgbox img {
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0% {
    transform: translate(-11px, 0);
    }
    50% {
    transform: translate(-0px, -11px);
    }
    100% {
    transform: translate(-11px, 0);
    }
}
.thumb {
    position:absolute;
    left:50%;
    bottom:-145px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display:inline-block;
    margin:0 20px;
    cursor:pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width:60px; 
}*/

/* Start Menu Section */
.menu .heading span {
    text-transform: inherit;
    font-weight:700;
}
.menu .box img {
    max-width:62px;
    object-fit: contain;
    object-position: center
}
.menu .box-container .box img {
    height:7rem;
}
.menu .box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.menu .box a:hover {
    color:var(--main-color);
}
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:1.5rem;
}
.menu .box-container .box {
    padding:32px;
    text-align:center;
    border:.1rem solid rgba(255,255,255,.3);
    cursor: pointer;
    transition: 0.3s;
}
.menu .box-container .box:hover {
    background-color:#557846;
}
.menu .box-container .box .price {
    color:#ebdbc8;
    font-size:24px;
    padding:.5rem 0 ;
    font-weight:500;
}
.menu .box-container .box .price span {
    color:var(--second-color);
    font-size:15px;
    font-weight:500;
    text-decoration: line-through;
}
.menu .box-container .box h3 {
    color:var(--best-color);
    font-size:22px;
    font-family: 700;
    padding:1rem 0;
}
/* End Menu Section */
/* Start Product Section */
.products .heading span {
    text-transform: inherit;
    font-weight: 700;
}
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:1.5rem;
}
.products .box-container .box:hover {
    background-color: #557846;
    cursor: pointer;
}
.products .box-container .box {
    text-align: center;
    border:.1rem solid rgba(255,255,255,.3);
    padding:32px;
}
.products .box-container .box .icon a {
    height:40px;
    width:40px;
    line-height: 40px;
    font-size:20px;
    border:var(--border);
    color:whitesmoke;
}
.products .box-container .box .icon a:hover {
    background-color: var(--third-color);
}
.products .box-container .box .image {
    padding:40px 0;
}
.products .box-container .box .image img {
    height:15rem;
}
.products .box-container .box .content-2 h3 {
    color:var(--best-color);
    font-size: 25px;
}
.products .box-container .box .content-2 .stars {
    padding:24px;
}
.products .box-container .box .content-2 .stars i {
    font-size:20px;
    color:whitesmoke;
}
.products .box-container .box .content-2 .price {
    color:whitesmoke;
    font-size:25px;
}
.products .box-container .box .content-2 .price span {
    color:whitesmoke;
    font-size:15px;
    font-weight: lighter;
    text-decoration: line-through;
}
/* End Product Section */
/* Start App Section */
.app .heading span {
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
}
.app .heading h3 {
    font-size: 30px;
}
.container {
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    margin-top:1rem;
}
.app .app-text {
    flex:1 1 21rem;
}
.app .app-text h2 {
    font-size:1.2rem;
    color:var(--third-color);
}
.app .app-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color:whitesmoke;
    line-height: 1.5;
}
.app .container .app-img {
    flex:1 1 21rem;
}
.app .container .app-img img {
    max-width:400px;
}
.app .app-text a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.app .app-text a:hover {
    color:var(--main-color);
}
/* End App Section */
/* Start About Section */
.about .heading span {
    text-transform: inherit;
}
.row {
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about .row .about-img {
    flex:1 1 21rem;
}
.about .row .about-img img {
    max-width:28.5rem;
}
.about .row .about-text {
    flex:1 1 25rem;
}
.about .row .about-text h2 {
    color:var(--second-color);
    text-align: center;
    margin-bottom:2.188rem;
}
.about .row .about-text p {
    color:whitesmoke;
    line-height: 1.5;
    text-align: justify;
    margin: 0.5rem 0 1rem;
}
/* End About Section */
/* Start Contact Section */
.contact .row-1 {
    display:flex;
    align-items: center;
    background:#333;
    flex-wrap:wrap;
    gap:1rem;
}
.contact .row-1 .map {
    flex:1 1 35rem;
    width:100%;
    object-fit: cover;
}
.contact .row-1 form {
    flex:1 1 35rem;
    padding:5rem 2rem;
    text-align:center;
}
.contact .row-1 form h3 {
    text-transform: inherit;
    font-size: 2.5rem;
    color:whitesmoke;
}
.contact .row-1 form .input-box {
    display:flex;
    align-items: center;
    margin-top:2rem;
    margin-bottom:2rem;
    background:black;
    border:var(--border);
}
.contact .row-1 form .input-box span {
    color:#fff;
    font-size:1.5rem;
    padding:12px;
}
.contact .row-1 form .input-box  input {
    width:100%;
    padding:18px;
    font-size:1rem;
    color:#fff;
    text-transform: none;
    background: none;
    border:none;
}
/* End Contact Section */
/* Start Footer Section*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .socials a {
    font-size:27px;
    color:whitesmoke;
    padding:10px;
    margin:20px;
}
.footer .socials a:hover  {
    color:var(--second-color);
}
.footer .links a  {
    font-size:1rem;
    font-weight:500;
    padding:1rem;
    color:#fff;
}
.footer .links a:hover {
    color:var(--second-color);
}
.footer .links p {
    color:#fff;
    text-align: center;
    margin-top:20px;
}
.footer .links h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color:#fff;
}
@media (max-width: 991px) {
    header {
        padding:20px;
    }
    
    header .logo img {
        max-width: 50px;
    }
    header .navbar {
        display: none;
    }
    section {
        padding:20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top:100px;
    }
    .content .box-text {
        max-width:100%;
    }
    .content .box-text h2 {
        font-size:2.5em;
        margin-bottom: 15px;
    }
    .content .imgbox {
        max-width:100%;
        justify-content: center;
    }
    .content .imgbox img {
        max-width:300px;
    }
    .social {
        background:var(--second-color);
        right:-6px;
        width:0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        top:13rem;

    }
}

/* End Footer Section *